/**
  * Reset 
*/
* {
  margin: 0px;
  padding: 0px;
    
}

body {
  background-color: #EDEDED;
}

a {
  text-decoration: none;
  color: #fff;
}

li, ol {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

/**
  * HEADER 
*/
.contents {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: #4AA8D8;
  display: flex;
  justify-content: center;
}

.contents .title {
  height: 100px;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -23px;
  font-size: 90px;
  font-weight: 900;
  padding-top: 20px;
}

.contents .title > a {
  margin-right: 20px;
}

.contents .content-wrap {
  position: absolute;
  top: 130px;
}

.contents .content-wrap .type {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: italic;
  font-weight: 100;
  margin-top: 20px;
}

.contents .content-wrap .content {
  position: relative;
  width: 700px;
  height: 400px;
  background-color: #fff;
  margin-top: 10px;
}

.contents .content-wrap .content .slider-wrap {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

/**
  * Slider
*/
.contents .content-wrap .content .slider-wrap > ul {
  display: flex;
  transition: 0.3s;
}


.contents .content-wrap .content .slider-wrap > ul > li {
  width: 500px;
  margin-top: 50px;
}

.contents .content-wrap .content .slider-wrap > ul > li .stars {
  color: #4AA8D8;
  display: flex;
  justify-content: center;
}

.contents .content-wrap .content .slider-wrap > ul > li .verb {
  font-size: 54px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.contents .content-wrap .content .slider-wrap > ul > li .meaning {
  margin-top: 10px;
  display: flex;
  font-size: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contents .content-wrap .content .slider-wrap > ul > li .meaning > h4 {
  font-size: 24px;
  margin-right: 20px;
}

.contents .content-wrap .content .slider-wrap > ul > li .conjugasion {
  margin-top: 25px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  font-weight: 100;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.contents .content-wrap .content .slider-wrap > ul > li .transform {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contents .content-wrap .content .slider-wrap > ul > li .transform > h4 {
  margin-right: 20px;
  font-size: 24px;
  color: #828282;
}

.contents .content-wrap .content .slider-wrap > ul > li .transform > h4:last-child {
  margin-right: 0px;
}

/**
  * button  
*/
.contents .content-wrap .content .prev {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.contents .content-wrap .content .prev i {
  color: #4AA8D8;
}

.contents .content-wrap .content .next {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.contents .content-wrap .content .next i {
  color: #4AA8D8;
}