/* Reset */
* {
    margin: 0px;
    padding: 0px;
    
}

body {
    background-color: #EDEDED;
}

a {
    text-decoration: none;
    color: #fff;
}

li, ol {
    list-style: none;
}

/* HEADER */
.contents {
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #4AA8D8;
    display: flex;
    justify-content: center;
}

.title {
    font-family: "Gothic A1";
    letter-spacing: -15px;
    font-size: 90px;
    padding-top: 20px;
}

.content-wrap {
    position: absolute;
    top: 180px;
}

.type {

}

.content {
    width: 800px;
    height: 500px;
    background-color: #fff;
}